.button {
    border: none;
    cursor: pointer;
    background-color: var(--primary-5);
    border-radius: 8px;
    padding: 16px 32px;
    color: var(--secondary-1);
    transition: all 0.2s ease-in-out;
  
    &:hover {
      background-color: var(--primary-7);
    }
  
    &:active {
      background-color: var(--primary-4);
    }
  }
  