.Cardtasks {
    display: flex;
    justify-content: space-between;
    background-color: var(--secondary-10);
    padding: 20px;
    border-radius: 8px;
    transition: all 0.3s ease-in-out;
    border: 2px solid transparent;
  
    &:hover {
      transform: scale(1.05);
      border-color: var(--primary-6);
    }
  
    span {
      color: var(--secondary-1);
      font-size: 18px;
    }
  
    strong {
      color: var(--secondary-1);
      font-size: 24px;
    }
  
    small {
      font-size: 18px;
      color: var(--secondary-1);
      padding: 4px 8px;
      border-radius: 4px;
      font-weight: 300;
    }
  
    & > div:nth-child(1) {
      display: flex;
      flex-direction: column;
      gap: 8px;
  
      div {
        display: flex;
        gap: 12px;
      }
    }
  
    & > div + div {
      display: flex;
      align-items: center;
      gap: 12px;
  
      img,
      a {
        cursor: pointer;
        width: 28px;
        height: 28px;
      }
    }
  }
  